0_sourcedata/ch4_bestflux.csv
0_sourcedata/co2_bestflux.csv
0_sourcedata/Plotcode_harmonized_field_obs.csv
0_sourcedata/Supp_Ancillary_Water_Data.xlsx
0_sourcedata/UniqueID_harmonized_field_obs.csv
1_paperdata
1_paperdata/ChamberData4paper.csv
2_modeloutputs
2_modeloutputs/EmmeansCLD_rest_chambermodels.csv
2_modeloutputs/EmmeansCLD_RI_chambermodels.csv
2_modeloutputs/Posthoctests_rest_chambermodels.csv
2_modeloutputs/Posthoctests_RI_chambermodels.csv
2_modeloutputs/Residualtests_rest_chambermodels.csv
2_modeloutputs/Residualtests_RI_chambermodels.csv
2_modeloutputs/Summary_rest_chambermodels.csv
2_modeloutputs/Summary_RI_chambermodels.csv
2_modeloutputs/Exploratory_figures
2_modeloutputs/Exploratory_figures/CA_ch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/CA_co2_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/CA_GWPco2andch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/CU_ch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/CU_co2_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/CU_GWPco2andch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/DA_ch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/DA_co2_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/DA_GWPco2andch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/DU_ch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/DU_co2_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/DU_GWPco2andch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/RI_ch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/RI_co2_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/RI_GWPco2andch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/VA_ch4_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/VA_co2_Observed_VS_predicted.png
2_modeloutputs/Exploratory_figures/VA_GWPco2andch4_Observed_VS_predicted.png

3_Figures_and_tables
